<form action="/memos" method="POST">
  <div class="field">
    <textarea class="textarea" name="memo"><%= @all_lines %></textarea>
  </div>
  <div class="buttons is-centered">
    <input type="submit" class="button" value="保存">
  </div>
</form>
